# gain exclusive access to usb hid events
SUBSYSTEM=="input", ACTION=="add", ATTRS{idVendor}=="1c4f", ATTRS{idProduct}=="0043", RUN+="/bin/sh -c 'echo remove > /sys$env{DEVPATH}/uevent'"
ACTION=="add", ATTRS{idVendor}=="1c4f", ATTRS{idProduct}=="0043", SYMLINK+="kbdmodal"
